
h1{
    color: darkslategrey;
    text-align: center;
}
p{
    color: FF8FA3;
    font-weight: 700;
}
.section{
    
    padding-left: 31px;
    text-align: center;
}

h3{
    color: red;
}

a button{
    text-align: center;
}